@import '~prismjs/themes/prism-okaidia.css'

:not(pre) > code[class*="language-"]
pre[class*="language-"]
  background: rgba(#000000, 0.5)

@import '~prismjs/plugins/autolinker/prism-autolinker.css'
@import '~prismjs/plugins/line-highlight/prism-line-highlight.css'
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css'
@import '~prismjs/plugins/previewer-base/prism-previewer-base.css'
@import '~prismjs/plugins/previewer-color/prism-previewer-color.css'
