// Page Title
title 
  = 'Volta - ' + page['title'] || 'Volta'
  
// Page Meta
meta(name='description' content=page['description'] || 'Volta is a futuristic Web Application and Admin Dashboard built with Bootstrap, Stylus and CoffeeScript. From a developer trusted by thousands of users.') 
meta(name='keywords' content=page['keywords'] || 'volta, admin, volta admin, dashboard, web, application, template, theme, admin dashboard, admin template, admin theme, web application template, dashboard template, pixevil, pixevil themes, grozav')
meta(name='author' content='Pixevil (https://pixevil.com)')
  
meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no") 
