// Facebook OpenGraph
meta(property="og:title" content="Volta - Web Application and Admin Dashboard")
meta(property="og:type" content="website")
meta(property="og:url" content=server.url)
meta(property="og:image" content="http://pixevil.com/img/template-thumbnails/volta.jpg")
meta(property="og:site_name" content="pixevil")
