// Colors
//
$colors = {
  aqua: #7fdfff
  blue: #0074d9
  navy: #001f3f
  teal: #39cccc
  green: #2ecc40
  olive: #3d9970
  lime: #01ff70
  yellow: #ffdc00
  orange: #ff851b
  red: #ff4136
  fuchsia: #f012be
  purple: #b10dc9
  maroon: #85144b

  white: #fff
  silver: #f2f2f2
  darksilver: #d1d1d1
  gray: #aaa
  lightgray: #ccc
  concrete: #1d1d1e
  asphalt: #3b3b3b
  black: #111
}


// Brand Colors
//
$brand = {
  success:   $colors['olive']
  danger:    $colors['red']
  warning:   $colors['orange']
  info:      $colors['blue']
}


// Social Colors
//
$social = {
  facebook: #3b5998
  twitter: #1da1f2
  google-plus: #dd4b39
  dribbble: #ea4c89
  behance: #1769ff
  flickr: #ff0084
  linkedin: #0077b5
  youtube: #cd201f
  pinterest: #bd081c
  github: #333
  tumblr: #35465c
  twitch: #6441a5
  envato: #82b541
}

// Volta Themes
//
$themes = {
  'volta': ( #C04848 #480048 )
  'purple-bliss': ( #360033 #0b8793 )
  'love-couple': ( #89253e #3a6186 )
  'deep-space': ( #434343 #000000 )
  'from-beyond': ( #838181 #000C40 )
  'curiosity-blue': ( #3d72b4 #525252 )
  'orca': ( #093637 #44a08d )
  'love-tonight': ( #4568dc #b06ab3 )
  'love-and-liberty': ( #a83b3b #200122 )
  'blue-lagoon': ( #43C6AC #191654 )
  'grapefruit-sunset': ( #904e95 #e96443 )
  'frost': ( #004e92 #000428 )
  'mauve': ( #734b6d #42275a )
  'under-the-lake': ( #237a57 #093028 )
  'vice-city': ( #ec6ead #3494e6 )
  'mild': ( #4ca2cd #67b26f )
  'nepal': ( #2657eb #de6161 )
  'ibiza-sunset': ( #ff6a00 #ee0979 )
  'sunset': ( #f56217 #0b486b )
  'colored-lenses': ( #636fa4 #e8cbc0 )
  'disco': ( #556270 #4ecdc4 )
  'dania': ( #7bc6cc #be93c5 )
  '50shades': ( #2c3e50 #bdc3c7 )
  'very-blue': ( #0575e6 #021b79 )
  'dawn': ( #F3904F #3B4371 )
  'dusk': ( #19547b #ffd89b )
  'dusk-2': ( #fd746c #2c3e50 )
  'delhi': ( #3fada8 #808080 )
  'cosmic-fusion': ( #ff00cc #333399 )
  'firewatch': ( #ef473a #cb2d3e )
  'lush': ( #56ab2f #a8e063 )
  '80s-purple': ( #41295a #2F0743 )
  'royal': ( #243b55 #141e30 )
  'deep-sea-space': ( #4ca1af #2c3e50 )
  'solid-vault': ( #3a6073 #3a7bd5 )
  'politics': ( #f44336 #2196f3 )
  'transfile': ( #cb3066 #16bffd )
  'red-ocean': ( #a43931 #1d4350 )
  'pink-lime': ( #a80077 #66ff00 )
  'easy-med': ( #409c43 #c2c93a )
  'cocoa-ice': ( #1ce1ce #c0c0aa )
  'candy-ice': ( #db36a4 #f7ff00 )
  'dark-skies': ( #283e51 #4b79a1 )
  'forest': ( #2c7744 #5a3f37 )
  'miami-dolphins': ( #d39d38 #4da0b0 )
}
