.dropdown-menu
  for $brand-name, $brand-color in $theme-brand
    &.-{$brand-name}
      background: $brand-color 
      background: linear-gradient(to right, rgba($brand-color, 1), rgba($brand-color, 0.8))
