.tag
  for $brand-name, $brand-color in $theme-brand
    &.-{$brand-name}
      background: $brand-color
      background: linear-gradient(to bottom right, rgba($brand-color, 0.8), rgba($brand-color, 0.4))
