extends ../../layouts/dashboard-unauthenticated.pug

block content
  +container-fluid
    +row   
      +col({ lg: 12 })
        +panel(class='-dark -focused')
          +panel-heading(class='-dark -with-icon-lg')
            +pe('help1')
            h3 Forgot Password
            span Please enter your email address
          +panel-body 
            form(class='form -dark' id='form-recover' action=server.url + '/' data-toggle='validator' method='POST')
              +form-group
                label(class='form-label' for='form-recover-email') Email
                input(class='form-control' id='form-recover-username' name='email' type='email' required=true placeholder='Email')
              +form-group(class='_margin-top-2x _margin-bottom-none')
                button(class='btn -primary -block' type='submit' name='signup') Reset Password      
