//- Create a bootstrap button 
//-
mixin btn
  // Button
  a(class='btn')&attributes(attributes)
    block


mixin dropdown-btn
  // Dropdown Button
  div(class='btn-dropdown btn-group')&attributes(attributes)
    block
