mixin panel
  //- Panel
  div(class='panel')&attributes(attributes)
    block
  //- /Panel
    
mixin panel-heading
  //- Panel Heading
  div(class='panel-heading')&attributes(attributes)
    block
  //- /Panel Heading
  
mixin panel-body
  //- Panel Body
  div(class='panel-body')&attributes(attributes)
    block
  //- /Panel Body
    
mixin panel-footer
  //- Panel Footer
  div(class='panel-footer')&attributes(attributes)
    block
  //- /Panel Heading
  
mixin card
  //- Card
  div(class='card')&attributes(attributes)
    block
  //- /Card
    
mixin card-header
  //- Card Heading
  div(class='card-header')&attributes(attributes)
    block
  //- /Card Heading
  
mixin card-block
  //- Card Block
  div(class='card-block')&attributes(attributes)
    block
  //- /Card Block
    
mixin card-footer
  //- Card Footer
  div(class='card-footer')&attributes(attributes)
    block
  //- /Card Heading
