mixin nav-tabs
  // Nav Tabs
  ul(class='nav nav-tabs' role="tablist")&attributes(attributes) 
    block
  // /Nav Tabs
  
mixin tab-content
  // Tab Content Panes
  div(class='tab-content')&attributes(attributes) 
    block
  // /Tab Content Panes
    
mixin tab-pane
  // Tab Pane
  div(class='tab-pane')&attributes(attributes) 
    block
  // /Tab Pane
    
