extends ../../layouts/dashboard.pug

block layout
  +navbar(server, 'dark')      

  +sidebar-main({ server: server, pages: pages[1], theme: 'dark', position: 'right' })(class="-collapsible") 
  +sidebar-secondary(server, page['view'], 'dark')  

  +content('dark', 'with-right-sidebar')(class='-collapsible')
    block content
      +container-fluid
        +row 
          +col({ lg: 12 })
            +page-heading(server, page)
    
